{% extends('base.html.twig') %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script defer src="js/script.js"></script>

{% endblock %}

{% block body %}
<h1>All Tasks : </h1>
    <button type='submit' class="add">Add a Task</button>

    <div class="newForm"></div>

{% endblock %}
{% block content %}


<table>
<tbody class='tbody'></tbody>
</table>
{% endblock %}