{% extends('base.html.twig') %}

{% block body %}
<h1>All Tasks : </h1>
<button>
    <a href="{{ route('add-task')}}">Add a Task</a>
</button>
{% endblock %}
{% block content %}
{% for task in tasks %}
<h1>{{task.name}}</h1>
{% endfor %}
{% endblock %}