{% extends('base.html.twig') %}



{% block body %}
<h1>All Tasks : </h1>
<div>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Add Task
    </button>

    <table id="myTable" >
    <thead>
        <tr>
            <th>Task Title</th>
            <th>Task Description</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody class='tbody'>
    </tbody>
</table>



{% endblock %}