{% extends('base.html.twig') %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script defer src="js/script.js"></script>

{% endblock %}

{% block body %}
<h1>All Tasks : </h1>
    <button type='submit' class="add">Add a Task</button>

    <div class="newForm"></div>

{% endblock %}
{% block content %}
<table>
<tbody>

{% if tasks is empty %}
<h1>There is no Tasks Yet. </h1>
{% else %}
{% for task in tasks %}
<tr>
<td><h1>{{task.name}}</h1></td>
<td>
<h3 class='status'>{{task.status}}</h3>
</td>
<td>
<button class="toggle" data-id="{{ task.id }}">
    {% if task.status == 'Completed' %}mark as Pending{% else %}mark as Completed
    {% endif %}
</button>
</td>
<td>
<button class='delete' data-id="{{ task.id }}">Delete</button>
<td>
</tr>

{% endfor %}
{% endif %}
</tbody>

</table>

<table>
<tbody class='tbody'>
test
</tbody>
</table>
{% endblock %}