{% extends('base.html.twig') %}



{% block body %}
<h1>All Tasks : </h1>
<div>

    
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Add Task
    </button>



<div
            class="table-responsive"
        >
            <table
                class="table table-primary"
            >
                <thead>
                    <tr>
                        <th scope="col">Task Title</th>
                        <th scope="col">Task Description</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody class='tbody'>
                    
                </tbody>
            </table>
        </div>



{% endblock %}