{% extends('base.html.twig') %}

{% block body %}
<h1>new task form</h2>
<form method='POST' action="{{ path('add-task')}}">

    <label for="name">Name :</label>
    <input type="text" name="name" id="name" required>

    <label for="details">Details :</label>
    <textarea name="details" id="details" required></textarea>

    <button type='submit'>Add task</button>
</form>
{% endblock %}