<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        
<h1>Total Posts : {{total_posts}}</h1>
<table>
{% for post in posts%}
    <tr> 
        <td>{{post.title}} ||</td>
        <td>{{post.content}} ||</td>
        <td>{{post.date|date('Y-m-d') }}</td>
    </tr>
{% endfor %}
</table>
           
        {% endblock %}
    </body>
</html>
